body > #root > main {
    height: 100vh;
    text-align: center;
}

.default {
    background-color: #F69454;
    color: white;
    font-size: 30px;
    margin: 0 auto;
}
input{
    width:150px;
}

form {
    display: inline-block;
}

.header {
    color: white;
    height: 10vh;
    font-size: 30px;
    display: flex;
    padding: 0px 10px 0px 10px;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.header-title {
    padding-bottom: 12px;
    align-self: center;
}

.header-button {
    height: 40px;
    align-self: center;
    padding-bottom: 8px;
}

.body-header {
    font-size: 24px;
}

.body-component {
    font-size: 18px;
}

.welcome-main-header {
    background-color: #EE693F;
}

.addition-header {
    background-color: #ce0e2d;
}

.subtraction-header {
    background-color: #2dce0e;
}

.color-wrong-red {
    color: red;
}

.color-correct-green {
    color: green;
}
.login-input{
    width: 300px;
    padding: 12px 20px;

}
#reset-button, #addition-button, #subtraction-button, #next-button, 
#answers-button, #begin-button, #steps-button, #dash-button, #score-button{
    color:white;
    background-color: #739F3D;
    border: 2px solid white;

}
